<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumnos</title>

    <!-- Cargar Static -->
    {% load static %}

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- Boostrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>

    <!-- Mi hoja de estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Mi archivo JS -->
    <script src="{% static 'js/main.js' %}"></script>

  </head>

  <body>
    <header>
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <img src="{% static 'img/logodeprueba.jpg' %}" alt="logodeprueba">
        </div>
        <div class="col-md-5 col-sm-12">
          <h1>Listado de Ramos</h1>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="container-btn">
            <button class="btn btn-light" id="btnAgregar">
              <a href="{% url 'ramosAdd' %}">Agregar Ramo</a>
            </button>
          </div>
        </div>
      </div>   
    </header>

    <div id="idMensajes">
      {% if mensaje %}
          <div class="alert alert-warning mx-auto">
              {{ mensaje }}
          </div>
      {% endif %}
    </div>

    <div class="table-container">
        <table class="table table-striped">
            {% if ramos %}
                <thead>
                    <tr>
                    <th scope="col">Ramo</th>
                    <th scope="col">Créditos</th>
                    <th scope="col">Escuela</th>
                    <th scope="col" colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ramo in ramos %}
                        <tr>
                            <td>{{ ramo.ramo|capfirst }}</td>
                            <td>{{ ramo.creditos }} </td>
                            <td>{{ ramo.escuela|capfirst }}</td>
                            <td class="td-update"><a href="{% url 'ramos_edit' pk=ramo.id_ramo %}">Modificar</a></td> 
                            <td class="td-delete"><a href="{% url 'ramos_del' pk=ramo.id_ramo %}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}    
        </table>
    </div>

    <script>

        $(document).ready(function() {
            $("#idMensajes").delay(2000).fadeOut("slow");
        });

    </script>

  </body>
</html>
