{% extends "alumnos/base.html" %}

{% block content %}
    <header>
      <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12">
          <h1>Listado de Ramos</h1>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="container-btn">
            <button class="btn btn-light" id="btnAgregar">
              <a href="{% url 'seccionesAdd' %}">Agregar Sección</a>
            </button>
          </div>
        </div>
      </div>   
    </header>

    <div id="idMensajes">
      {% if mensaje %}
          <div class="alert alert-warning mx-auto">
              {{ mensaje }}
          </div>
      {% endif %}
    </div>

    <div class="table-container">
        <table class="table table-striped">
            {% if secciones %}
                <thead>
                    <tr>
                    <th scope="col">Ramo</th>
                    <th scope="col">Código</th>
                    <th scope="col" colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seccion in secciones %}
                        <tr>
                            <td>{{ seccion.id_ramo.ramo|capfirst }}</td>
                            <td>{{ seccion.codigo_seccion }} </td>
                            <td class="td-update"><a href="{% url 'secciones_edit' pk=seccion.id_seccion %}">Modificar</a></td> 
                            <td class="td-delete"><a href="{% url 'secciones_del' pk=seccion.id_seccion %}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}    
        </table>
    </div>

    <script>

        $(document).ready(function() {
            $("#idMensajes").delay(2000).fadeOut("slow");
        });

    </script>

{% endblock %}